.text{
font-family: 'Ubuntu', sans-serif;
}
.background{
    background-image: url('./../images/M2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
.background1{
    background-image: url('./../images/facculty.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
.color{
  color: #3d5aa9
}
.hr1 { background-color: black;
   height: 2px !important;
  width:30%}

.backgroundColor{
    background: rgba(255,255,255, 0.3);
}
.backgroundColorFaculty{
    background: rgba(0,0,0, 0.3);
}
.a1:hover{
  text-decoration: underline;
  text-decoration-color: red;
}
.btn-primary{
  background-color: #3d5aa9 !important;
  }
