<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JNNCE|Department of Electrical & Electronics Engineering</title>
    <link rel="stylesheet" href="./../css/master.css">
    <link rel="icon" sizes="16x16" href="./../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

  </head>
  <body class="text" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a href="./../index.html" class="navbar-brand d-none d-sm-block">
          <img src="./../images/logo.png" class="h-75 w-75"  alt="">
        </a>
        <a href="./../index.html" class="navbar-brand d-block d-sm-none">
          <img src="./../images/imageedit_1_6840644087.png" class="" width="200" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-dark"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item active mr-md-5 a1">
              <a href="./../index.html#Home" class="nav-link text-dark ">
                Home
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="./about.html" class="nav-link text-dark ">
                About
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="#" class="nav-link text-dark ">
                Faculties
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="./../index.html#PO's" class="nav-link text-dark ">
                PO's
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="./../index.html#Campus" class="nav-link text-dark ">
                Campus
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="./../index.html#FACILITIES" class="nav-link text-dark ">
                Facilities
              </a>
            </li>
            <li class="nav-item mr-md-5 a1">
              <a href="./academics.html" class="nav-link text-dark">
                Academics
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- landing img -->
        <div class="container-fluid background1" style="height:400px">

          <div class="row  justify-content-center pt-5  ">
            <div class="col-md-8 mt-md-5  pt-5 pb-5 backgroundColorFaculty">
              <h1 class=" text-center text-light" >
                Creative Path Makers
              </h1>
              <h5 class="text-center text-light">
                We have enthuestic,experienced,highly knowldeged and students friendly lecturers in our department.
              </h5>

            </div>
          </div>
        </div>
      <!-- about faculties -->
      <div class="container mt-5 pb-3">
        <div class="row">
          <div class="col-md-5">

          </div>
          <div class="col-md-6 ml-md-5 ">
              <h2 class="font-weight-bold">People</h2>
          </div>
        </div>
        <div class="row justify-content-center mt-md-5">
          <div class="col-lg-4 col-md-4 text-center ">
            <img src="./../images/elonmuskReuters.jpg" height="250px" width="250px" alt="">
            <h5 class="mt-3">Dr. S. Surendra </h5>

            <p class="text-secondary">Prof./Head</p>
          </div>
          <div class="col-md-1 d-none d-md-block d-lg-none">

          </div>
          <div class="col-md-5">
            <div class="text-left">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                 labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                 laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="text-left">
              <p>
                Duis aute irure dolor in reprehenderit in
                 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                 cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="">
              <a href="#">
                Connect
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- facculty -->
      <div class="container-fluid  pb-5 d-none d-lg-block d-xl-block"  style="background-color:#fdf3e0">
        <div class="row justify-content-center pt-5">
          <h3>Teaching Faculty</h3>
        </div>
        <div class="row  justify-content-center pb-5">
          <p class="text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          </p>
        </div>
        <div class="row  pt-2  justify-content-center">

          <div class="col-lg-2 ">
            <div class="card ">
                <img src="./../images/elonmuskReuters.jpg"  alt=""class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Dr. Thejaswi. A. H</h6>
                <h6  class="text-secondary small">
              B.E (E&E) M.Tech (Lighting Science & Engg.), Ph.D. Power Quality ( JNTU Hyderabad)
                </h6>
                <h6 class="card-text text-secondary">
                  Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Dr. H. B. Suresh </h6>
                <h6  class="text-secondary small">
                B.E (E&E) M E. (Ener Sys Engg),  Ph.D. Energy Systems ( JNTU Hyderabad)
                </h6>
                <h6 class="card-text text-secondary">
                  Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">D. S. Prakash Wodeyar</h6>
                <h6  class="text-secondary small">
              B.E, M.Tech, Industrial Electronics (Mysore University)
                </h6>
                <h6 class="card-text text-secondary">
                  Asso. Prof.
                </h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card pb-3" >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">N. P. Suneetha </h6>
                <h6  class="text-secondary small">
              B.E (E&P) M.E.Control Systems (Bharathiyar University), Ph.D.
                </h6>
                <h6 class="card-text text-secondary">
                  Asso. Prof.
                </h6>

              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">

          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Shailashree. K </h6>
                <h6  class="text-secondary small">
            B.E (L S & E),  M.Tech Lighting Science & Engg. (Mangalore University), Ph.D.
                </h6>
                <h6 class="card-text text-secondary">
                  Asso. Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card pb-3" >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Ajjanna. N. G </h6>
                <h6  class="text-secondary small">
              B.E (E&E), M.Tech. Energy Systems Engg. (VTU Belagavi)
                </h6>
                <h6 class="card-text text-secondary">
                  Asst. Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Maheshwarappa.H. M </h6>
                <h6  class="text-secondary small">
              B.E (E&E), M.Tech, Energy Systems Engg. (VTU Belagavi)
                </h6>
                <h6 class="card-text text-secondary">
                  Asst. Prof.
                </h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card pb-3" >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">
                <h6 class=" ">Soumya. K. T </h6>
                <h6  class="text-secondary small">
            B.E. (E & E),   M.Tech Computer Science and Engg. (VTU Belagavi)
                </h6>
                <h6 class="card-text text-secondary">
                  Asst. Prof.
                </h6>

              </div>
            </div>
          </div>
        </div>

        <div class="row  pt-5  justify-content-center">

          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h6 class=" ">Vinayaka. K </h6>
                <h6  class="text-secondary small">
          B.E(TCE), M.Tech, CAID (VTU Belagavi) )
                </h6>
                <h6 class="card-text text-secondary">
                  Asst. Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">
                <h6 class=" ">Vinayaka. K </h6>
                <h6  class="text-secondary small">
              B.E(TCE), M.Tech, CAID (VTU Belagavi) )
                </h6>
                <h6 class="card-text text-secondary">
                  Asst. Prof.
                </h6>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">

          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- ipad view -->
      <div class="container-fluid  pb-5 d-none d-md-block d-lg-none"  style="background-color:#fdf3e0">
        <div class="row justify-content-center pt-5 pb-3">
          <h3>Teaching Faculty</h3>
        </div>
        <div class="row  justify-content-center">
          <p class="text-secondary text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          </p>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-md-3  ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-md-3  ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-md-3  ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-md-3  ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
<!-- mobile view -->.
      <div class="container-fluid  pb-5 d-block d-sm-none"  style="background-color:#fdf3e0">
        <div class="row justify-content-center pt-5 pb-3">
          <h3>Teaching Faculty</h3>
        </div>
        <div class="row  justify-content-center">
          <p class="text-secondary text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          </p>
        </div>
        <div class="row  pt-2  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row  pt-5  justify-content-center">
          <div class="col-6 ">
            <div class="card " >
                <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- technical facculty -->
      <div class="container pb-5 d-none d-sm-block">
        <div class="row mt-5 justify-content-center">

            <h3>Technical Faculty</h3>

        </div>
          <div class="row  justify-content-center">
            <p class="text-secondary text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </p>
          </div>


        <div class="row justify-content-center pt-5">
          <div class="col-md-3 col-xl-2 text-center">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-xl-2 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-xl-2 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-xl-2 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center pt-5 ">
          <div class="col-md-3 col-xl-2  text-center">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-xl-2 ">
            <div class="card " style="width:10em;">
                <img src="./../images/elonmuskReuters.jpg"  alt=""  height="150px" width="160px">
              <div class="card-body text-center pt-3">

                <h5 class=" ">Elon Musk</h5>
                <p class="card-text text-secondary">
                  Assistent Prof.
                </p>

              </div>
            </div>
          </div>

      </div>
    </div>
      <!-- mobile view -->
        <div class="container d-block d-sm-none pt-5 pb-5">
          <div class="row  justify-content-center">

              <h3>Technical Faculty</h3>

          </div>
            <div class="row  justify-content-center">
              <p class="text-secondary text-center mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              </p>
            </div>
          <div class="row  pt-5  justify-content-center">
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row  pt-5  justify-content-center">
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row  pt-5  justify-content-center">
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="card " >
                  <img src="./../images/elonmuskReuters.jpg"  alt=""  class="img-fluid">
                <div class="card-body text-center pt-3">

                  <h5 class=" ">Elon Musk</h5>
                  <p class="card-text text-secondary">
                    Assistent Prof.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- footer -->
      <footer style="background-color:#333333;;" class="footer mt-3 pb-5 ">
        <div class="container pt-5 text-light ">
          <div class="row">
            <div class="col-md-4 pt-3">
              <div class="">
                <img src="./../images/logo.png" class="img-fluid" alt="">

              </div>
              <div class="small mt-3 text-secondary mt-5">
                <a href="tel:8792227928" class="h4 text-light ">
                  +91-8182-276707
                </a>
              </div>
              <div class="mt-3">
                <a href="#" class="d-inline text-light" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="d-inline ml-3" target="_blank">
                  <i class="fab fa-twitter text-light"></i>
                </a>
                <a href="#" class="d-inline ml-3 text-light" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#" class="d-inline ml-3 text-light" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="mailto:shrilakshmishastry@gmail.com" class="text-light  d-inline ml-3" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 offset-md-1 pt-3  ">
              <div class="d-flex flex-column ">
                <div class="font-weight-bold">
                  Content
                </div>
                <a href="./about.html" class=" mt-4 text-light">
                  About
                </a>
                <a href="#" class=" mt-4 text-light" >
                  Faculties
                </a>
                <a href="./academics.html" class="text-light mt-4" >
                  Academic
                </a>
              </div>
            </div>
            <div class="col-md-4  pt-3 pt-md-5">
              <a
               href="https://www.google.com/maps/place/Jawaharlal+Nehru+National+College+Of+Engineering/@13.967892,75.5780161,18z/data=!4m5!3m4!1s0x3bbbaede1b7c9bb9:0xfb0cf81a73b0ba59!8m2!3d13.9663563!4d75.5789763"
              class="font-weight-bold text-light" target="_blank">
                Site Map
              </a>
              <div class="mt-4">
                JNNCE
              </div>
              <div class="">
              Savalanga Road, Navule, Shivamogga -577204
              </div>
              <div class="">
                 Karnataka
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="https://kit.fontawesome.com/0295f823fc.js"></script>
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
